:root {
    --background-color: #000000;
    --primary-text: #ffffff;
    --secondary-text: #000000;
    --font-size-base: 15px;
    --secondary-color:#7937c4;
    --tertiary-color: #f1f1f1;
    --border-color: #808080;
    --buton-inactive: #808080;
    --secondary-border-color: #363535;
    --hover-color: #ae8fd2;
  }

  [data-theme='light'] {
    --background-color: #FFFFF0;
    --primary-text: #000000;
    --secondary-text: #555555;
}

  @font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    font-size: var(--font-size-base);
    color: var(--primary-text);
  }
