.chat-page {
    width: 100%;
    height: 100%;
}
.chat-head {
    border-bottom: 1px solid var(--secondary-border-color);
    margin-bottom: 20px;
}
.user-details {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin: 0 10px;
}
.c-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    text-align: center;
}
.user-div {
    display: flex;
    gap: 10px;
}
.no-chat-info{
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    text-align: center;
    margin-top: 30%;
}
.chat-input {
    display: flex;
    position: absolute;
    margin-left: 10px;
    align-items: center;
    top: 92%;
    width: 95%;
    overflow-y: scroll;
}
.chat-input input{
    width: 70%;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    height: 40px;
    margin: 0 15px;
    padding: 20px;
}
.chat-input input:focus{
    outline: none;
    border: 1px solid var(--tertiary-color);
}

.chats {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10px;
    padding: 10px;
    height: 77%;
    overflow-y: scroll;
}
.dropbtn {
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.receiver,
.grp{
    background-color: var(--tertiary-color);
    color: var(--secondary-text);
    padding: 5px 10px;
    border-radius: 0 10px 10px 10px;
    word-wrap: break-word;
    width: fit-content;
    align-self: flex-start;
    margin: 2px 2px;
}
.grp-member{
    background-color: var(--tertiary-color);
    color: var(--secondary-text);
}
.grp-user{
    background-color: var(--tertiary-color);
    font-size: 0.8em;
    font-style: italic;
    color: var(--secondary-color);
}

.msgdate{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sender{
    background-color: var(--secondary-color);
    color: var(--primary-text);
    padding: 5px 10px;
    border-radius: 10px 0 10px 10px;
    word-wrap: break-word;
    width: fit-content;
    align-self: flex-end;
    margin: 2px 2px;
}
.sender-grp, 
.sender-user{
    background-color: var(--secondary-color);
}
.sender-user{
    font-size: 0.8em;
    font-style: italic;
    color: wheat;
}
.chat-time{
    font-size: 10px;
    color:  var(--border-color);
    margin: 0 10px;
    align-self: center;
}
.send-icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.usr-name{
    font-size: 15px;
    font-style: italic;
}
.hide{
    display: none;
}

.dropdown-content {
    position: fixed;
    display: inline-block;
    right: 3%;
    top: 7%;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--border-color);
}
.d-content{
    background-color: #181818;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}
.d-content:hover{
    background-color: #424141;
}
.chat-page-two {
    transition: width 0.5s;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 700px) {
    .chat-input input{
        width: 75%;
        margin-left: 0;
    }
    .chat-input input{
        width: 75%;
    }
    .chat-page {
        width: 100%;
        height: 100%;
    }
    .chat-page-two {
        display: none;
    }
    .input-add input{
        width: 85%;
    }
}