.nav{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid var(--border-color);
    align-items: center;
    width: 5%;
    gap: 10px;
    height: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.logo-icon{
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 700px) {
    .nav,
    .menu,
    .user-container{
        display: none;
    }
}