# .env.template

# Port for the server to run on
# Default is 3000, but can be adjusted as needed
PORT=3000

# Database URL
# Replace with your own PostgreSQL credentials
# Format: postgres://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/chatapp

# JWT Token Secrets
# These secrets are used to sign and verify access and refresh tokens
ACCESS_TOKEN_SECRET=<your_access_token_secret>
REFRESH_TOKEN=<your_refresh_token_secret>

# Cloudinary credentials
# You can sign up for a Cloudinary account and get your credentials
CLOUDINARY_CLOUD_NAME=<your_cloudinary_cloud_name>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>

# PostgreSQL credentials
# Replace with your own PostgreSQL username and password
POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>
